@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,700,900');

body {
  background-color: #fffcfd;
  background-image: url("../pattern/pattern2.jpg");
  background-size: 200px;
  font-size: 19px;
  color: #272727;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

.banner-group {
  position: relative;
  z-index: 100;
  background-position: center;
  height: 500px;
}

.page-title {
  font-size: 50px;
  margin: 0;
  padding: 50px;
  text-align: center;
  color: #fffcfd;
}

header {
  text-align: center;
  width: 100%;
  margin: 0;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, .8);
  position: absolute;
  bottom: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color:  #0fa79a;
  opacity: 0.8;
 }

 a:hover, .active {
  opacity: 1;
  color: #dd034e;
}

nav a {
  color: #fff;
  border-bottom: solid 1px;
  padding-bottom: 1px;
}

nav a:hover {
  color: #fff;
  border-bottom: solid 4px;
  border-color: #dd034e;
}

nav ul {
  display: inline-block;
  padding: 0;
  margin: 13px 0 19px 0;
}

nav ul li {
  list-style: none;
	display: inline-block;
  margin: 0 15px;
  font-size: 23px;
  text-transform: uppercase;
}

.top-nav {
  background-color: #0fa79a;
  text-align: center;
  margin: 0;
  position: fixed;
  width: 100%;
  border-bottom: solid 4px #fff;
}

.top-nav ul {
  margin: 6px;
}

.top-nav a {
  padding-bottom: 6px;
}

.site-title a {  
  opacity: 1;
}

.site-title h1 {
  color: #fff;
  margin: 0;
  font-size: 30px;
}

table td {  
  margin: 0;
  padding: 0;
}

.circle-text, .text-text  {
  width: 100%;
  margin: 0;
}

.circle-text {
  background-color: #dfe0e6;
}

table {
  width: 80%;
  text-align: center;
  margin: 50px auto;
  padding: 10px 0;
}

table td {
  padding: 10px 30px;
  width: 50%;
}

.circle {
  width: 250px;
  height: 250px;
  background-size: 100%;
  border-radius: 100%;
  display: inline-block;
}

.text {  
  display: inline-block;
  text-align: left;
  float: left;
}

.text-text .text {
  text-align: left;
}

.footer {
  margin-top: 100px;
  position: relative;
  text-align: center;
  padding-bottom: 80px;
  width: 100%;
}

.footer p {
  margin: 15px 15px;
}

.copyright {
  font-style: normal;
  font-size: 16px;
  float: left;
  margin-top: 40px;
}

.author {
  float: right;
  font-size: 16px;
  font-style: normal;
  margin-top: 40px;
}
