@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,700,900');

body {
  background-color: #fffcfd;
  background-image: url("../img/pattern.jpg");
  background-size: 200px;
  font-size: 19px;
  color: #272727;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

.highlight {
  color: #0fa5ae;
  font-weight: 700;
}

.banner-group {
  position: relative;
  z-index: 100;
  background-color: #0fa5ae;
  background-position: center;
  background-size: auto 100%;
  height: 350px;
}

.home-banner-group {
  position: relative;
  z-index: 100;
  background-color: #0fa5ae;
  background-position: center;
  background-size: auto 100%;
  height: 500px;
}

.page-title {
  font-size: 50px;
  margin: 0;
  padding: 50px;
  text-align: center;
  color: #fffcfd;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
}

header {
  text-align: center;
  width: 100%;
  margin: 0;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  bottom: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color:  #dd034e;
  opacity: 0.8;
  font-weight: 700;
 }

 a:hover, .active {
  opacity: 1;
  color: #272727;
}

nav a {
  color: #fff;
  border-bottom: solid 1px;
  padding-bottom: 1px;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5)
}

nav a:hover, nav .active {
  color: #fff;
  border-bottom: solid 4px;
  border-color: #dd034e;
}

nav ul {
  display: inline-block;
  padding: 0;
  margin: 13px 0 19px 0;
}

nav ul li {
  list-style: none;
	display: inline-block;
  margin: 0 15px;
  font-size: 23px;
  text-transform: uppercase;
}

.top-nav {
  background-color: rgba(15, 165, 174, 0.9);
  text-align: center;
  margin: 0;
  position: fixed;
  width: 100%;
  border-bottom: solid 4px #fff;
  z-index: 90;
}

.top-nav ul {
  margin: 6px;
}

.top-nav a {
  padding-bottom: 6px;
}

.site-title a {
  opacity: 1;
}

.site-title h1 {
  color: #fff;
  margin: 0;
  font-size: 30px;
}

iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 450px;
}

.circle-text, .text-text1, .text-text2 {
  width: 100%;
  margin: 0;
}

.circle-text, .text-text2 {
  background-color: rgba(213, 214, 220, 0.6)
}

table {
  width: 80%;
  text-align: center;
  margin: 50px auto;
  padding: 0;
}

table td {
  vertical-align: top;
  margin: 0;
  width: 50%;
}

.circle-text table td {
  vertical-align: middle;
}

.circle {
  width: 250px;
  background-size: 100%;
  display: inline-block;
  margin: 10px;
}

.text {
  display: inline-block;
  text-align: left;
  float: left;
}

.text-text1 .right .text, .text-text2 .right .text {
  margin-top: 70px;
  padding-left: 15px;
}

.text-text1 .left .text, .text-text2 .left .text {
  padding-right: 15px;
}

.text-text1 .text, .text-text2 .text {
  text-align: left;
}

.img-series {
  text-align: center;
  margin: -50px 0;
}

.img-series img {
  max-width: 250px;
  min-width: 150px;
  width: 20%;
  display: inline-block;
  margin: 0 1%;
}

.sub-banner {
  height: 250px;
  background-color: rgba(0, 0, 0, .9);
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 100px;
  position: absolute;
  width: 100%;
}

.footer-text {
  margin: 35px auto;
  color: #fffcfd;
  width: 80%;
}

.author {
  color: #fffcfd;
  font-size: 16px;
  font-style: normal;
}

.author a:hover {
  color: #fffcfd;
}

@media (min-width: 1900px) {

  .banner-group {
    background-size: 100%;
    height: 350px;
  }

  .home-banner-group {
    background-size: 100%;
    height: 500px;
  }

}

@media (min-width: 630px) {

  .author {
    position: absolute;
    bottom: 20px;
    right: 10%;
  }

}

@media (max-width: 560px) {

  table td {
    display:block;
    box-sizing:border-box;
    clear:both
}

  .text-text1 .right .text, .text-text2 .right .text {
    margin-top: 0px;
    padding-left: 0px;
  }

  .text-text1 .left .text, .text-text2 .left .text {
    padding-right: 0px;
  }

  nav ul li {
    list-style: none;
    display: inline-block;
    margin-top: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }

  nav a {
    color: #fff;
    border-bottom: solid 0px;
    padding-bottom: 0px;
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5)
  }

  .top-nav a, .top-nav ul {
    padding: 0;
    margin: 0;
  }

   table td {
    vertical-align: top;
    margin: 0;
    width: 100%;
  }

  .page-title {
    font-size: 35px;
  }

  .home-banner-group {
    height: 400px;
  }

  .banner-group {
    height: 300px;
  }
  
  h2 {
    margin: 0;
  }

}
