<div class="site-title">
  <a href="{{ site.baseurl }}/">
    <h1>Dottor Paolo Pasquini</h1>
  </a>
</div>

<header>

  <nav>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/index.html" {% if page.url contains "bio" %} class="active" {% endif %} >Chi sono</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/urologia.html" {% if page.url contains "gallery" or page.url contains "update" %} class="active" {% endif %}>Urologia</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/competenze.html" {% if page.url contains "projects" %} class="active" {% endif %}>Competenze</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/contatti.html" {% if page.url contains "portfolio" %} class="active" {% endif %}>Contatti</a>
      </li>
    </ul>
  </nav>

</header>
