<title>{{site.title}}</title>
<meta name="description" content="{{site.description}}">
<meta name="keywords" content="Paolo, Pasquini, Paolo Pasquini, dottore, dottori, urologo, urologi, urologia, andrologo, andrologi, chirurgo, chirughi, Galliera, Ospedali Galliera, Baluardo, Istituto il Baluardo, Genova, LEAN System, PSA, esame PSA, Citologia Urinaria, Radiodiagnostica, terapia alfalitica, inibitori 5 alfareduttasi, inibitori 5 fosfodiesterasi, laparoscopia, videolaparoscopia, chirurgia robotica, endoscopia, LASER, ipertermia, enuresi notturna, fimosi, incontinenza urinaria, calcolosi urinaria, infezioni urinarie, ipertrofia prostatica benigna, prolasso vescicale, counseling, Doctorfinder24">
<meta name="author" content="Leonie Aonzo">
<meta name="robots" content="index, follow, noodp"/>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src='{{ site.baseurl }}/js/scrollReveal.min.js'></script>
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">

<meta property="og:image" content="{{ site.baseurl }}/img/profilo.png" />

<meta name="msvalidate.01" content="67376EA9D4BD0F6CCE723DD0A2C5F6CC" />
<meta name="google-site-verification" content="5M3UDJVrL4yuB0WMam3iYxaGcWi6S1tlbmHSQ17F3VQ" />
